<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>感谢以下赞助商对 Fedora 中文用户组的赞助：</p>
        <a class="navbar-brand" href="https://tuna.moe/"><img src="https://tuna.moe/assets/img/logo-small.png" srcset="https://tuna.moe/assets/img/logo-small.png 1x, https://tuna.moe/assets/img/logo-small@2x.png 2x, https://tuna.moe/assets/img/logo-small@3x.png 3x, https://tuna.moe/assets/img/logo-small@4x.png 4x" alt="清华大学 TUNA 协会"></a>
      </div>
    </div>
  </div>

</footer>
